<%= form_for :session, url: session_path, html: {class: 'card-body flex flex-col gap-5 p-10', id: 'sign_in_form'} do |form| %>
  <div class="text-center mb-2.5">
    <%# <h3 class="text-lg font-medium text-gray-900 leading-none mb-2.5"> %>
    <h3 class="text-lg font-medium text-gray-900 leading-none">
      Sign in
    </h3>
  </div>
  <div class="flex flex-col gap-1">
    <label class="form-label font-normal text-gray-900">
    Email
    </label>
    <%= form.email_field :email,
      class: 'input',
      placeholder: 'Email Address',
      autocomplete: 'off',
      required: 1,
      'aria-label': "Email Address"
    %>
  </div>
  <div class="flex flex-col gap-1">
    <div class="input" data-toggle-password="true">
      <%= form.password_field :password,
        placeholder: 'Password',
        required: 1,
        autocomplete: "off",
        'aria-label': "Password"
      %>
      <button class="btn btn-icon" data-toggle-password-trigger="true" type="button">
      <i class="ki-filled ki-eye text-gray-500 toggle-password-active:hidden">
      </i>
      <i class="ki-filled ki-eye-slash text-gray-500 hidden toggle-password-active:block">
      </i>
      </button>
    </div>
  </div>
  <label class="checkbox-group">
  <input class="checkbox checkbox-sm" name="check" type="checkbox" value="1">
  <span class="checkbox-label">
  Remember me
  </span>
  </label>
  <button class="btn btn-primary flex justify-center grow" type="submit">
    Sign In
  </button>
<%- end %>
