scss: 
  .dropzone-msg.dz-message.needsclick {
    margin:0;
  }
  .required {
    color:#F44336;
    margin-left:2px;
  }
  .select2.select2-container {
    width: 100% !important;
  }

#add.modal.fade[
  aria-hidden="true" 
  aria-labelledby="staticBackdrop" 
  data-backdrop="static"
  role="dialog"
  tabindex="-1"
] 
  .modal-dialog.modal-dialog-centered.modal-lg role="document" 
    .modal-content
      = render partial: 'form'
