body {
  background-color: white;
}

td {
  padding: 6px;
  padding-right: 10px;
  padding-left: 10px;
  vertical-align: top;
}

p {
  line-height: 130%;
  text-align: justify;
  margin-top: 4pt;
  margin-bottom: 4pt;
  font-size: 18px;
  font-family: 'arial-ms';
}

.table-bordered {
  border: 1px solid #dee2e6;
  border-collapse: collapse;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
  border-right-width: 0;
}

.border-black {
  border: 1px solid black;
}

.dotted {
  border: dotted 3px #000000;
}

.solid-border {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
